<h3>Criar TODO</h3>
<div [hidden]="submitted" class="submit">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Descrição: </label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="todo.description" name="description">
    </div>
 
    <button type="submit" class="btn btn-success">Adicionar</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newTODO()">Novo item</button>
</div>